/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.blink_text {
  width: 400px;
  height: 15px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 2px solid #008000;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}

.blink_button {
  width: 150px;
}

div.result{
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-name: blink;
  font-size: 100px;
  margin-left: 600px;
  margin-top: 50px;
}

@keyframes blink
{
  from
  { opacity: 1; }
  to
  {
    opacity: 0;
  }
}
